.pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.pagination button {
  background-color: var(--surface-color);
  color: var(--text-color);
  border: 1px solid var(--dark-color);
  border-radius: 5px;
  padding: 8px 12px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.pagination button:hover:not(:disabled) {
  background-color: var(--primary-color);
}

.pagination button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.pagination span {
  margin: 0 10px;
}

.pagination input,
.pagination select {
  background-color: var(--background-color);
  color: var(--text-color);
  border: 1px solid var(--dark-color);
  border-radius: 5px;
  padding: 8px;
}
